.Window_container{
	width: 1200px;
	height: 650px;
	margin: auto; 
}

.Window{
	width: 100%;
	height: 100%;
	background: white;
	overflow: scroll;
}

.minimized-window {
	height: var(--dock-height);
	width: 300px;
	background: gray;
	text-align: center;

	position: absolute;
	right: 0;
	bottom: 0;
	cursor: pointer;

	box-sizing: border-box;
	border: 5px solid white;
}

.top-bar {
	width: 100%;
	height: 40px;
	background: gray;
	text-align: center;
}

.close-button {
	margin: 5px 10px;
	float: right;
	cursor: pointer;
	color: white;
}