.Window_container{
	width: 1200px;
	height: 650px;
	margin: auto; 
}

.Window{
	width: 100%;
	height: 100%;
	background: white;
	overflow: scroll;
}

.minimized-window {
	height: 40px;
	width: 300px;
	background: gray;
	text-align: center;

	position: absolute;
	right: 0;
	bottom: 0;
}

.top-bar {
	width: 100%;
	height: 40px;
	background: gray;
	text-align: center;
}

.exit-button {
	color: pink;
	margin: 10px 5px 0px 0px;
	float: right;
}