.dock {
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 500;
}
.apps {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
}
.app {
  float: left;
}
.active {
  border-bottom: 2.5px solid white;
}
.app i {
  display: block;
  color: gray;
  text-align: center;
  padding: 10px 16px 10px 16px;
  text-decoration: none;
}
.app i:hover {
  background-color: #EEE;
  cursor: pointer;
}