.window-container {
	width: 1200px;
	height: 550px;
	margin: 50px 170px 0px; /*TODO remove*/
}

.body {
	width: 100%;
	height: 100%;
	background: white;
	overflow: scroll;
}

.minimized-window {
	width: 400px;
	height: 40px;
	background: white;
	text-align: center;
}

.top {
	width: 100%;
	height: 40px;
	background: gray;
	text-align: center;
}

.button {
	color: pink;
	margin: 10px 5px 0px 0px;
	float: right;
}