
#login {
	width: 40%;
	padding: 20px;
	margin: auto;

	text-align: center;
	border: 2px solid gray;
}

.big {
	font-size: 50px;
}

.medium {
	font-size: 25px;
}

.padding {
	padding: 10px 50px;
}

table {
	border-collapse: collapse;
	width: 100%;
	text-align: left;
}

th, .email-body {
	border-bottom: 1px solid gray;
}

tr.email-body > td {
	padding: 20px 0px;
	white-space: pre-wrap;
	font-size: 15px;
}