.sidebar{
  height: 100%;
  width: 75px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  /*background-color: #111;*/
  overflow-x: hidden;
  /*padding-top: 20px;*/
}
.user_box {
  padding-top: 10px;
  text-align: center;
  color: gray;

  display: block;
  border: 2px solid gray;
  height: 40px;
}
.open_close_button{
  background-color: lightgrey;
  width: 100%;
  border: none;

  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  padding: 15px 0px 15px;
}