.sidebar {
  z-index: 1;
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 0px;
}

.user_box {
  display: block;
  border: 2px solid gray;
  height: 40px;

  padding: 5px 10px;
  text-align: center;
  color: gray;
  background: lightgray;
}

.user_box:hover {
  background: white;
  cursor: pointer;
}

.open_close_button {
  height: var(--dock-height);
  width: var(--sidebar-width);
  background-color: lightgray;
  border-radius: 0px;
  font-size: 15px;
  
  text-align: center;
}

