.sidebar{
  z-index: 1;
  /*width: 75px;*/
  position: absolute;
  left: 0;
  bottom: 0;

  /*background-color: white;*/
  /*overflow-x: hidden;*/
  /*padding-top: 20px;*/
}
.user_box {
  display: block;
  border: 2px solid gray;
  height: 40px;

  padding: 5px 10px;
  text-align: center;
  color: gray;
  background: lightgray;
}

.open_close_button{
  height: var(--dock-height);
  width: 60px;
  text-align: center;
  background-color: lightgray;
  /*text-decoration: none;*/
  /*font-size: 15px;*/
  /*padding: 15px 0px 15px;*/
}