#accounts {
	width: 1000px;
	margin: auto;
}

.user, .selected-user {
	height: 100%;
	text-align: center;
}

.user {
	display: inline-block;
	margin: 20px;
	cursor: pointer;
}

.selected-user {
	width: 50%;
	margin: auto;
}

.user-image {
	height: 200px;
	transition: transform .1s;
}

.user-image:hover {
	transform: scale(1.05);
}