.BrowserWindow_container{
	width: 800px;
	height: 500px;
	margin: 50px 200px 0px; /*TODO remove*/
}

.BrowserWindow{
	width: 100%;
	height: 100%;
	background: white;
	overflow: scroll;
}

.minimized-window {
	width: 400px;
	height: 40px;
	background: white;
	text-align: center;
}

.top-bar {
	width: 100%;
	height: 40px;
	background: gray;
	text-align: center;
}

.exit-button {
	color: pink;
	margin: 10px 5px 0px 0px;
	float: right;
}